/* declaração de independência para os elementos, dizendo: "Quando eu definir um tamanho, isso inclui tudo – borda e padding!" */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #0E1112 0%, #00090E 100%);
  margin: 0;
  min-height: 100vh;
}

.app-container {
  width: 1200px;
  max-width: 80%;
  margin: 56px auto;
  display: flex;
  gap: 28px;
  height: 100vh;
}